.heading1{
    text-align:center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    color:rgb(41, 58, 58);
    text-shadow: 1px 5px rgb(77, 232, 199);
}
.flex{
    display: flex;
    flex-direction: row;
}